.accessibility-wrapper {
    align-items: center;
    background: #014691;
    display: flex;
}

.accessibility-wrapper * {
    margin: 0;
    padding: 0;
}

.accessibility-wrapper .action,
.accessibility-wrapper .link,
.accessibility-wrapper .icon {
    height: 14px; 
    width: 14px;
}

.accessibility-wrapper > .text {
    color: #fff;
    font-size: 11px;
}

.accessibility-wrapper > .list {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    padding: 10px 0;
}
        
.accessibility-wrapper > .list > .item {
    align-items: center;
    display: flex;
    padding: 0 10px;
}

.accessibility-wrapper > .list > .item:not(:last-child) {
    border-right: 1px solid #12B1E4;
}
        
.accessibility-wrapper > .list > .item > .action {
    background: none;
    border: none;
    color: #12B1E4;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    transition: color 0.2s linear;
}

.accessibility-wrapper > .list > .item > .action:hover {
    color: #fff;
}

.accessibility-wrapper > .list > .item > .action > .link {
    display: inherit;
}

.accessibility-wrapper > .list > .item .icon {
    display: inline-block;
    fill: #12B1E4;
    transition: fill 0.2s linear;
}

.accessibility-wrapper > .list > .item .icon:hover {
    fill: #fff;
}
